.post-display-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.post-display-image {
  object-fit: cover;
  height: 250px;
  transition: transform 0.3s ease;
}


.post-display-card:hover .post-display-image {
  transform: scale(1.05); /* Slight zoom on hover */
}

.post-display-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.post-display-card:hover .post-display-overlay {
  opacity: 1;
}

.overlay-title {
  font-size: 0.85rem;
  margin-bottom: 4px;
}

.overlay-price {
  font-size: 0.85rem;
  margin: 0;
}
